* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2e266f;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

i {
  cursor: pointer;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

h1 {
  font-size: var(1.5rem);
}

textarea {
  resize: none;
}

@media screen and (max-width: 700px) {
  h1 {
    margin-top: 12rem;
  }
}
header {
  padding: 1.5rem 3rem;
  position: relative;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav .link-logo {
  text-align: center;
  font-style: italic;
}
header .nav .link-logo span {
  color: #fe043c;
}
header .nav .link-logo .img {
  width: 8rem;
  height: 8rem;
}
header .nav .menu {
  display: flex;
  gap: 4rem;
  font-size: 2rem;
  text-transform: capitalize;
}
header .nav .menu .cart .icon-cart {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: -2.2rem;
  top: -0.5rem;
  z-index: 20;
}
header .nav .menu .cart .quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1.3rem;
  right: -1.8rem;
  background-color: #8167a9;
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
header .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  padding: 10px;
  font-size: 13px;
  color: #2e266f;
  background-color: #fcfaff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  transition: all 200ms linear;
}
header .dropdown-content a {
  color: #2e266f;
  padding: 12px 16px;
  display: block;
}
header .dropdown-content a:hover {
  background-color: #2e266f;
  color: white;
  text-underline-offset: 8px #2e266f;
}
header .dropdown-item:hover {
  color: var(--primary);
  background-color: #2e266f;
}
header .nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}
header .nav-item.active:hover:after {
  opacity: 0;
}
header .nav-item {
  position: relative;
  transition: all 200ms linear;
}
header .nav-item::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background-color: #2e266f;
  opacity: 0;
  transition: all 100ms linear;
}
header .dropdown:hover .dropdown-content {
  display: block;
}

.toggle_btn {
  position: relative;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 30;
  display: none;
  cursor: pointer;
}
.toggle_btn .bar {
  position: absolute;
  width: 100%;
  background-color: #2e266f;
  height: 0.2rem;
  border-radius: 0.2rem;
  transition: transform 0.3s ease-out;
}
.toggle_btn .bar_1 {
  transform: translateY(-10px);
}
.toggle_btn .bar_3 {
  transform: translateY(10px);
}
.toggle_btn.active .bar_1 {
  transform: translateY(0px) rotate(135deg);
}
.toggle_btn.active .bar_2 {
  opacity: 0;
}
.toggle_btn.active .bar_3 {
  transform: translateY(0px) rotate(-135deg);
}

@media screen and (max-width: 700px) {
  #ID_menu {
    display: none;
  }
  .toggle_btn {
    display: flex;
  }
  #ID_menu.active_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 12.5rem;
    right: 0;
    width: 100%;
    row-gap: 2rem;
    padding-right: 1rem;
  }
}
.login {
  width: 100%;
  height: calc(100vh - 131.33px);
  display: flex;
  align-items: center;
}
.login .container__login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #161616;
  width: 100%;
  height: 100%;
  align-items: center;
}
.login .container__login .container__left {
  position: relative;
  background-image: url("../images/global/background_auth.webp");
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.login .container__login .container__left .content {
  z-index: 20;
  padding-inline: 1rem;
}
.login .container__login .container__left .content__title, .login .container__login .container__left .content__paragraph {
  color: white;
}
.login .container__login .container__left .content__title {
  font-size: 4rem;
  letter-spacing: 0.6rem;
  margin-bottom: 2rem;
}
.login .container__login .container__left .content__paragraph {
  font-size: 2rem;
}
.login .container__login .container__left .content__blur {
  position: absolute;
  background-color: rgba(22, 22, 22, 0.6);
  width: 100%;
  height: 100%;
}
.login .container__login .container__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: justify;
  flex-wrap: no-wrap;
}
.login .container__login .container__right__title {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 2rem;
  color: white;
}
.login .container__login .container__right form ::placeholder {
  font-size: 1.8rem;
}
.login .container__login .container__right form .input {
  margin-bottom: 2rem;
  position: relative;
  width: 320px;
}
.login .container__login .container__right form .input input, .login .container__login .container__right form .input textarea {
  background: black;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  width: 100%;
  padding: 2rem 1.5rem;
  color: #6366f1;
  font-size: 1.5rem;
}
.login .container__login .container__right form button[type=submit] {
  cursor: pointer;
  background-color: #6366f1;
  padding: 1rem 2rem;
  border: none;
  margin-bottom: 2rem;
  color: white;
  border-radius: 1rem;
  width: 100%;
  font-size: 2rem;
}
.login .container__login .container__right form .visibility {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.login .container__login .container__right form .description {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .container__right {
    display: flex !important;
    flex-direction: column;
  }
}
.title {
  font-size: 3.5rem;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
  font-style: italic;
}

.categorys {
  margin-block: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.card-hover {
  width: 320px;
  height: 440px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
}
.card-hover:has(.card-hover__link:hover) .card-hover__extra {
  transform: translateY(0);
  transition: transform 0.35s;
}
.card-hover:hover .card-hover__content {
  background-color: #DEE8C2;
  bottom: 100%;
  transform: translateY(100%);
  padding: 50px 60px;
  transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}
.card-hover:hover .card-hover__link {
  opacity: 1;
  transform: translate(-50%, 0);
  transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
}
.card-hover:hover .img__category {
  transform: scale(1);
  transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}
.card-hover__content {
  width: 100%;
  text-align: center;
  background-color: #86B971;
  padding: 0 60px 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(0);
  transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
  will-change: bottom, background-color, transform, padding;
  z-index: 1;
}
.card-hover__content::before, .card-hover__content::after {
  content: "";
  width: 100%;
  height: 120px;
  background-color: inherit;
  position: absolute;
  left: 0;
  z-index: -1;
}
.card-hover__content::before {
  top: -80px;
  clip-path: ellipse(60% 80px at bottom center);
}
.card-hover__content::after {
  bottom: -80px;
  clip-path: ellipse(60% 80px at top center);
}
.card-hover__title {
  font-size: 2.5rem;
  margin-bottom: 1em;
}
.card-hover__title span {
  color: #2d7f0b;
}
.card-hover__text {
  font-size: 1.5rem;
}
.card-hover__link {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 10%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: #2d7f0b;
  opacity: 0;
  padding: 10px;
  transition: all 0.35s;
}
.card-hover__link:hover img {
  transform: translateX(4px);
}
.card-hover__link img {
  width: 18px;
  margin-left: 4px;
  transition: transform 0.3s;
}
.card-hover__extra {
  height: 50%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: no-wrap;
  width: 100%;
  font-size: 1.4rem;
  text-align: center;
  background-color: #86b971;
  padding: 15px;
  bottom: 0;
  z-index: 0;
  color: #dee8c2;
  transform: translateY(100%);
  will-change: transform;
  transition: transform 0.35s;
}
.card-hover__extra span {
  color: #2d7f0b;
}
.card-hover .img__category {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  transform: scale(1.2);
  transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
}

.sidebar {
  flex-basis: 200px;
  max-width: 200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
}
.sidebar-list {
  list-style-type: none;
}
.sidebar-list-item {
  position: relative;
  margin-bottom: 4px;
}
.sidebar-list-item a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.6rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
}
.sidebar-list-item svg {
  margin-right: 0.8rem;
}
.sidebar-list-item:hover {
  background-color: #f3f6fd;
}
.sidebar-list-item.active {
  background-color: #f3f6fd;
}
.sidebar-list-item.active:before {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  width: 4px;
}
@media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}
.sidebar .account-info {
  display: flex;
  align-items: center;
  padding: 1.6rem;
  margin-top: auto;
}
.sidebar .account-info-picture {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.sidebar .account-info-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-container {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 1280px;
  display: flex;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  max-width: 2000px;
  margin: 0 auto;
}

#svg {
  width: 16px;
  height: 16px;
}

.app-content {
  padding: 16px;
  color: #101827;
  height: 100%;
  flex: 1;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
.app-content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4px;
}
.app-content-headerText {
  color: #1d283c;
  font-size: 2.5rem;
  line-height: 3.2rem;
}
.app-content-headerButton {
  color: #fff;
  font-size: 1.5rem;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  height: 32px;
  padding: 0 16px;
  transition: 0.2s;
  cursor: pointer;
}
.app-content-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 4px;
}
@media screen and (max-width: 520px) {
  .app-content-actions {
    flex-direction: column;
  }
  .app-content-actions .search-bar {
    max-width: 100%;
    order: 2;
  }
  .app-content-actions .app-content-actions-wrapper {
    padding-bottom: 16px;
    order: 1;
  }
}

.search-bar {
  background-color: #1d283c;
  border: 1px solid #1d283c;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.4rem;
  border-radius: 0.4rem;
  padding: 0px 10px 0px 32px;
  height: 3.2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
  background-size: 1.6rem;
  background-repeat: no-repeat;
  background-position: left 10px center;
  width: 100%;
  max-width: 320px;
  transition: 0.2s;
}
.light .search-bar {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%231f1c2e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
}
.search-bar:placeholder {
  color: #fff;
}
.search-bar:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%236291fd' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
}
.search-bar:focus {
  outline: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%232869ff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'/%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'/%3E%3C/svg%3E");
}

.products-area-wrapper {
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 0 4px;
}

.tableView .products-header {
  display: flex;
  color: white;
  align-items: center;
  border-radius: 4px;
  position: sticky;
  top: 0;
}
.tableView .products-row {
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.tableView .products-row .cell-more-button {
  display: none;
}
.tableView .product-cell {
  flex: 1;
  padding: 8px 16px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.tableView .product-cell img {
  width: 8rem;
  height: 8rem;
  border-radius: 6px;
  margin-right: 6px;
}
@media screen and (max-width: 780px) {
  .tableView .product-cell {
    font-size: 12px;
  }
  .tableView .product-cell.image span {
    display: none;
  }
  .tableView .product-cell.image {
    flex: 0.2;
  }
}
@media screen and (max-width: 520px) {
  .tableView .product-cell.category, .tableView .product-cell.sales {
    display: none;
  }
  .tableView .product-cell.status-cell {
    flex: 0.4;
  }
  .tableView .product-cell.stock, .tableView .product-cell.price {
    flex: 0.2;
  }
}
@media screen and (max-width: 480px) {
  .tableView .product-cell.stock {
    display: none;
  }
  .tableView .product-cell.price {
    flex: 0.4;
  }
}
.tableView .sort-button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-left: 4px;
  display: flex;
  align-items: center;
}
.tableView .sort-button svg {
  width: 12px;
}
.tableView .cell-label {
  display: none;
}

.status {
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  font-size: 12px;
}
.status:before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 4px;
}
.status.active {
  color: #2ba972;
  background-color: rgba(43, 169, 114, 0.2);
}
.status.active:before {
  background-color: #2ba972;
}
.status.disabled {
  color: #59719d;
  background-color: rgba(89, 113, 157, 0.2);
}
.status.disabled:before {
  background-color: #59719d;
}

.gridView {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}
@media screen and (max-width: 520px) {
  .gridView {
    margin: 0;
  }
}
.gridView .products-header {
  display: none;
}
.gridView .products-row {
  margin: 8px;
  width: calc(25% - 16px);
  background-color: #1d283c;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s;
  position: relative;
}
.gridView .products-row:hover {
  transform: scale(1.01);
  box-shadow: rgba(16, 24, 39, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.gridView .products-row:hover .cell-more-button {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .gridView .products-row {
    width: calc(33.3% - 16px);
  }
}
@media screen and (max-width: 820px) {
  .gridView .products-row {
    width: calc(50% - 16px);
  }
}
@media screen and (max-width: 520px) {
  .gridView .products-row {
    width: 100%;
    margin: 8px 0;
  }
  .gridView .products-row:hover {
    transform: none;
  }
}
.gridView .products-row .cell-more-button {
  border: none;
  padding: 0;
  border-radius: 4px;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: rgba(16, 24, 39, 0.7);
  color: #fff;
  cursor: pointer;
  display: none;
}
.gridView .products-row form button {
  background: none;
  border: none;
  outline: none;
  background-color: red;
}
.gridView .product-cell {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 8px;
}
.gridView .product-cell:not(.image) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gridView .product-cell.image span {
  font-size: 18px;
  line-height: 24px;
}
.gridView .product-cell img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 16px;
}
.gridView .cell-label {
  opacity: 0.6;
}

.banner {
  background: url("../images/global/bg.webp") no-repeat fixed center;
  background-size: cover;
  height: 70vh;
  width: 100%;
  position: relative;
}
.banner .shadow {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.banner svg {
  position: absolute;
  bottom: -1rem;
  left: 0;
  z-index: 20;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}
.products .food-card {
  background: #dfe5ff;
  padding: 30px 30px;
  border-radius: 25px;
  text-align: center;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  position: relative;
}
.products .food-card .button-23 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 25px 5px 25px 5px;
  color: #2e266f;
  cursor: pointer;
  outline: none;
  padding: 10px;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s, transform 0.1s;
}
.products .food-card .button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}
.products .food-card .button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(0.96);
}
.products .food-card .button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}
.products .food-card .button-23 img {
  width: 20px;
  height: 20px;
}
.products .food-card .food-card-img img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 25px;
}
.products .food-card .food-card-name {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--text-black-100);
}

/*# sourceMappingURL=styles.css.map */
