$font-family: "Montserrat", sans-serif;

$color-secondary: #fe043c;
$color-gray: #2e266f;
$color-input: #6366f1;

$biggeste-font-size: 3.5rem;
$biggest-font-size: 2.5rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;
$smaller-font-size: 0.75rem;

$margin-2: 2rem;

$sidebar-main-color: #fff;
$table-border: #1a2131;
$table-header: #1a2131;
$app-content-main-color: #fff;
$sidebar-link: #fff;
$sidebar-active-link: #f3f6fd;
$sidebar-hover-link: #f3f6fd;
$app-content-secondary-color: #1d283c;
$filter-shadow: rgba(16, 24, 39, 0.8) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

